* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #e5d3d3;
}

html,
body {
    height: 100%;
    width: 100%;
}


/* #main {
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: blue;
} */

::-webkit-scrollbar {
    display: none;
}

.outer-wrapper {
    width: 100vw;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    background: #571a1a;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}